<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.keepfit">

    <application
        android:name=".KeepFitApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_keepfit"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_keepfit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".homePage.Settings"
            android:parentActivityName=".homePage.MainActivity"/>
        <activity android:name=".goalsPage.GoalsActivitySettings"
            android:parentActivityName=".goalsPage.ViewGoals"/>
        <activity android:name=".historyPage.HistorySettings"
            android:parentActivityName=".historyPage.History"/>
        <activity android:name=".historyPage.History" />
        <activity
            android:name=".goalsPage.ViewGoals"
            android:launchMode="singleTop" />
        <activity
            android:name=".goalsPage.AddEditGoal"
            android:parentActivityName=".goalsPage.ViewGoals" />
        <activity
            android:name=".historyPage.AddEditHistory"
            android:parentActivityName=".historyPage.History" />
        <activity
            android:name=".homePage.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>